body{
    background-color: black;
    font-family: monospace;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    cursor: url('./cursor_image.png') , auto;
}
hacker_look{
    color: #2b5329;
    font-size: xx-large;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
    color: #9ccc9c;
    padding: 10px;
}

.stack_them{
    position: absolute;
}

@media only screen and (min-width: 1440px) {
    hacker_look{
        font-size: 5rem;
    }
}